.menubar {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 0rem 0rem 0rem 1rem;
  border-radius: 7px;
  position: fixed;
  top: 0.5rem;
  bottom: 3.5rem;
  right: 1rem;
  z-index: 10;
  width: 230px;
  overflow-x: scroll;
}

.menubar span {
  margin-left: 0.4rem;
  font-size: 13px;
}

.menubar li {
  margin: 1rem auto auto auto;
}

.sclose {
  position: fixed;
  top: 0rem;
  bottom: 0rem;
  right: 0rem;
  left: 0rem;
  z-index: 4;
}
