.mobile-bar {
  border-radius: 10px;
  text-align: center;
  padding: 0.5rem 1em;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  position: fixed;
  bottom: 12px;
  width: 98%;
  left: 0.1rem;
  right: 0.1rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}
