.post-container {
  box-shadow: rgb(55, 135, 185) 0px 1px 0px,
    rgba(255, 255, 255, 1) 0px 1px 0px inset;
  display: flex;
  position: relative;
  margin: 1.5rem auto 1.5rem auto;
  padding-bottom: 1.5rem;
}

.post-container:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.post-image img {
  width: 180px;
  object-fit: contain;
  outline: none;
}

.post-details {
  white-space: nowrap;
  position: relative;
  margin-left: 10px;
}

.pst-user {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.pstds p {
  margin: 1rem auto 0rem 0.8rem;
}

.sp {
  outline: 1px solid rgb(237, 240, 241);
  padding: 3px;
  position: absolute;
  border-radius: 15px;
  bottom: 2rem;
  right: 1rem;
  font-size: x-small;
}

.hjb {
  position: absolute;
  top: 2rem;
  right: 1rem;
  cursor: pointer;
  outline: 1px solid rgb(55, 135, 185);
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 15px;
  align-items: center;
}

p {
  font-size: 0.9rem;
}
p:last-child {
  margin-top: 0.2rem;
}
p span {
  padding-right: 0.3rem;
}

.pc-avatar {
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-right: 0.7rem;
  object-fit: cover;
}

@media screen and (max-width:600px){
  .post-image img{
    width: 190px;
    object-fit: contain;
  }
}

@media screen and (min-width: 1024px) {
  .post-container {
    margin: 0.8rem auto 0.8rem auto;
    padding: 0.5rem;
  }

  .post-image img {
    width: 300px;
    object-fit: contain;
    height: 300px;
    outline: none;
    border-radius: 10px;
  }

  .post-details {
    margin-left: 1.2rem;
    width: 60%;
  }

  .sp {
    outline: 1px solid rgb(237, 240, 241);
    padding: 5px;
    position: absolute;
    border-radius: 15px;
    bottom: 2rem;
    right: 1rem;
    font-size: x-small;
  }

  .hjb {
    position: absolute;
    top: 2rem;
    right: 1rem;
    cursor: pointer;
    outline: 1px solid rgb(55, 136, 184);
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 15px;
    align-items: center;
  }
}
