.pstsc {
  position: absolute;
  bottom: 0;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  z-index: 5;
  border-radius: 10px;
  width: 99%;
  left: 0;
  right: 0;
  padding: 0.5rem;
}

.pstsc li {
  margin: 0.7rem auto 0.7rem auto;
  outline: 1px solid rgb(219, 216, 216);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.2rem;
}

.pclose {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
