.sresults {
  background-color: white;
  border-radius: 5px;
  padding-top: 1rem;
  z-index: 1;
  top: 6;
}

@media screen and (min-width: 1024px) {

  .sresults {
    margin: 6rem auto auto 447.5px;
    background-color: white;
    border-radius: 5px;
    padding-top: 1rem;
    width: 770px;
    z-index: 1;
  }
}
