@media screen and (min-width: 1024px) {
  .search-r-container {
    width: 480px;
    margin: 5.5rem auto auto auto;
  }

  .search-results {
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .search-r-container {
    width: 600px;
    margin: 4.5rem auto auto auto;
    position: relative;
  }

  .search-results {
    margin: 1rem auto auto auto;
  }
}
