

@media screen and (min-width: 1024px) {
  .scontainer {
    width: 480px;
    margin: 5.5rem auto auto auto;
  }

  .sresults {
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .scontainer {
    width: 600px;
    margin: 4.5rem auto auto auto;
    position: relative;
  }

  .sresults {
    margin: 1rem auto auto auto;
  }
}
