.sc {
  position: fixed;
  left: 0.3rem;
  right: 0.3rem;
  bottom: 0rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: white;
  border-radius: 7px;
  padding: 0.4rem;
  height: 400px;
  width: 390px;
  z-index: 8;
}

.sfc .ac {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sc span {
  font-size: 15px;
}

.sfc .ips .fa p h6 {
  margin-bottom: 1rem;
}

.sfc .ips textarea {
  padding: 5px;
  outline: none;
  border-radius: 5px;
  width: 99%;
}

@media screen and (min-width: 1200px) {
  .sc {
    min-width: 500px;
    height: 300px;
    margin: 6.5rem auto auto 560px;
  }

  .sfc {
    margin: 0.5rem auto auto auto;
  }
}

.input {
  border: 1px solid rgb(133, 129, 129);
  height: 2rem;
  padding-left: 0.3rem;
  border-radius: 4px;
}

.share-close {
  margin: auto auto 0.48rem 0.2rem;
  position: absolute;
  right: 0.44rem;
  cursor: pointer;
}

.share-avatar {
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}

.share-btn {
  position: absolute;
  cursor: pointer;
  bottom: 1rem;
  right: 0.5rem;
  background-color: rgb(55, 136, 184);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .sc {
    top: 2rem;
    left: 560px;
    right: 28rem;
    bottom: 0.2rem;
    position: fixed;
    width: 450px;
    height: 430px;
    margin: 7rem auto auto auto;
  }

  .sfc {
    margin: 0.5rem auto auto auto;
  }

  .sfc .ips {
    flex-direction: column;
    display: flex;
  }

  .sfc .ips span {
    margin-top: 2rem;
  }

  .sfc .ips .fa p {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  .sfc .ips .fa p h6 {
    margin-bottom: 0;
  }

  .sfc .ips textarea {
    padding: 5px;
    outline: none;
    border-radius: 5px;
    margin-top: 2rem;
    width: 99%;
  }

  .sfc .ac {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.choose-file {
  position: absolute;
  bottom: 1rem;
  width: 30%;
  margin-left: auto;
}

label {
  outline: 1px solid rgb(133, 129, 129);
  color: rgb(133, 129, 129);
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  z-index: 9;
}
